*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter, sans-serif;
}

body{
    background:#0a0a0a;
    color:#fff;
}

header{
    width:100%; 
    padding:20px; 
    position:sticky; 
    top:0; 
    backdrop-filter:blur(10px); 
    background:rgba(0,0,0,0.3);
}

footer{
    margin-top:30px;
}

.wrap{
    max-width:1200px; 
    margin:auto; 
    padding:0 15px;
}

section{
    scroll-margin-top: 80px;
    margin-top:120px;
}

h2{
    font-size:34px; 
    margin-bottom:26px;
}

a{
    text-decoration: none;
    color:#fff;
}

img{
    border-radius: 20px;
}

/*----------------nav----------------*/
nav{
    display:flex; 
    justify-content:center; 
    gap:30px;

    a{
        color:#a1a1a1; 
        font-size:15px; 
        transition:0.2s;
    }

    a:hover{
        color:#38bdf8;
    }
}

/*----------------hero----------------*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80vh;
    min-height: 400px;
    margin-top:0 !important; 

    h1 {
        font-size: 52px;
        font-weight: 800;
        line-height: 1.1;
    }

    p {
        color: #a1a1a1;
        font-size: 18px;
        margin-top: 16px;
    }
    
    .hero-image {
        margin-left: 16px;
        width: 45%;
        max-width: 500px;
        object-fit: cover;
    }
}

.hero-text {
    max-width: 600px;
}

@media (max-width: 1024px) {
    .hero {
        height: auto; 
        flex-direction: row; 
        align-items: flex-start; 
        padding: 40px 20px;
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 40px 20px;
        align-items: center;
        .hero-image {
        display: none;
        }
    }
}

/*----------------projekty a ukoly----------------*/
.grid{
    display:grid; 
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr)); 
    gap:28px;
}

.vec{
    padding:26px; 
    border-radius:14px; 
    background:#111; 
    border:1px solid #1e1e1e;
    transition:transform 0.25s, border-color 0.25s;
    
    h3{
        font-size:20px; 
        margin-bottom:8px;
    }
    
    p{
        color:#a1a1a1; 
        font-size:15px;
    }
}

.vec:hover{
    transform:translateY(-6px); 
    border-color:#38bdf8;
}

/*----------------kontakt----------------*/
.kontakt{
    align-items: center;
    margin-top:14px;
    list-style-type: none;
    
    p{
        color:#a1a1a1; 
        font-size:20px; 
    }
    
    a{
        color:#38bdf8; 
        font-size:20px; 
        transition:0.2s;
    }
}

    
